<!DOCTYPE html>
<html ng-app="admin" ng-controller="banner">
	<head>
		<meta charset="UTF-8">
		<script type="text/javascript" src="../js/angular.min.js" ></script>
		<title>商品列表</title>
	</head>
	<body>
		<a href="banner_add.html" target="_blank">add</a>
		<table border="1">
			<tbody>
				<tr>
					<td>op</td>
					<td>id</td>
					<td>imageurl</td>
					<td>title</td>
					<td>url</td>
				</tr>
			</tbody>
			<tbody>
				<tr ng-repeat="row in json" style="height: 50px;">
					<td>
						<a href="banner_modify.html?id={{row.id}}" target="_blank">modify</a>
						<input type="submit" value="删除" ng-click="deleteRow(row)" />
					</td>
					<td>{{row.id}}</td>
					<td><img ng-src="{{row.imgurl}}" width="100px" height="100" /></td>
					<td>{{row.title}}</td>
					<td>{{row.url}}</td>
				</tr>
			</tbody>
		</table>
	</body>
	<script type="text/javascript" src="../js/global.js" ></script>
	<script type="text/javascript" src="banner.js" ></script>
</html>
