<!DOCTYPE html>
<html ng-app="admin" ng-controller="login">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../css/mui.min.css" />
		<script type="text/javascript" src="../js/angular.min.js" ></script>
		<title></title>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">东方酒业后台管理系统</h1>
		</header>
		<div class="mui-content" style="padding-left: 20px; padding-right: 20px;">
			<p style="padding-top: 15px;"></p>
			<form class="mui-input-group">
				<div class="mui-input-row">
					<label>手机号</label>
					<input type="text" id="tel" placeholder="11位手机号">
				</div>
				<div class="mui-input-row">
					<label>密码</label>
					<input type="password" id="password" class="mui-input-password">
				</div>
			</form>
			<p></p>
			<!--<p style="padding-top: 10px; text-align: right;" ng-click="getPassword()">忘记密码?</p>-->
			<button type="button" class="mui-btn mui-btn-primary mui-btn-block" ng-click="login()">登录</button>
		</div>
	</body>
	<script type="text/javascript" src="../js/global.js" ></script>
	<script type="text/javascript" src="../js/mui.min.js" ></script>
	<script type="text/javascript" src="login.js" ></script>
</html>
