<!DOCTYPE html>
<html ng-app="admin" ng-controller="user">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/common.css"/>
		<script type="text/javascript" src="../js/angular.min.js" ></script>
		<title>用户列表</title>
	</head>	
	<body>
		<table class="simple">
			<tbody>
				<tr>
					<th>op</th>
					<th>id</th>
					<th>wechat_id</th>
					<th>name</th>
					<th>phone</th>
					<th>avatar</th>
					<th>current</th>
					<th>amount</th>
					<th>message</th>
					<th>create_time</th>
					<th>modify_time</th>
				</tr>
			</tbody>
			<tbody>
				<tr ng-repeat="row in json" style="height: 50px;">
					<td>
						<a href="member_modify.html?id={{row.guid}}" target="_blank">modify</a>
						<a href="order.html?mid={{row.guid}}&page=1" target="_blank">order</a>
					</td>
					<td>{{row.guid}}</td>
					<td>{{row.wechat_id}}</td>
					<td>{{row.name}}</td>
					<td>{{row.phone}}</td>
					<td><img ng-src="{{row.avatar}}" width="100px" height="100" /></td>
					<td>{{row.current}}</td>
					<td>{{row.amount}}</td>
					<td>
						<textarea id="message{{$index}}" name="message{{$index}}" rows="10" cols="20">喔耶！您的咖啡已上路，预计明天中午送达。\n\n顺丰快递号：</textarea>
						<input type="button" value="sendMessage" ng-click="sendMessage(row, $index);" />
					</td>
					<td>{{row.create_time}}</td>
					<td>{{row.modify_time}}</td>
				</tr>
			</tbody>
		</table>
	</body>
	<script type="text/javascript" src="user.js" ></script>
</html>