
table.com-sim {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}

table.com-sim th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
	background-color: #dedede;
}

table.com-sim td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
}
